.about-app {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;

}

.about-app__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-app__text, .about-app__title {
    padding: 0;
    margin: 0;
}

.about-app__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 16px;
}

.about-app__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #1E222E;
    margin: 0 0 32px;
}

.about-app__link  {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1E222E;
    background-color: #EDEEEF;
    width: 170px;
    height: 48px;
    border-radius: 8px;
    padding: 14px 45px;
}

.about-app__link--secondary {
    color: #FFFFFF;
    margin-right: 12px;
    background-color: #1E222E;
}