
.steps-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}


.steps-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: calc(33.33% - (60px / 3));
    gap: 16px;
    padding: 0 20px;
}

.steps-list__count {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    border-radius: 12px;
    background-color: #476BF0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
}

.steps-list__count--medium {
    height: 64px;
    width: 96px;
}

.steps-list__count--large {
    height: 64px;
    width: 128px;
}

.steps-list__title, .steps-list__text {
    padding: 0;
    margin: 0;
    text-align: center;
}
